@font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/archivoblack/v17/HTxqL289NzCGg4MzN6KJ7eW6CYKF_i7y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/archivoblack/v17/HTxqL289NzCGg4MzN6KJ7eW6CYyF_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body{ 
    background-color: rgba(14,10,27,255);
    color: black;
    text-align: center;
font-family:'Archivo Black';
}

@media (orientation: portrait) {
    .title {
        position: fixed;
  font-size: 1rem;
  top: 5%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    }

    .bottom {
        position: fixed;
  top: 65%;
  left: 50%;
  font-size: 1rem;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    }
  }


.title {
    text-align: center;
    margin-top: 250px;
    
}

.center {
    text-align: center;
}

.idklol {
    display: flex;
    justify-content: center;
}

.other {
    font-size: 1.4rem;
}

.country1 {
    color: red;
}

.country2 {
    color: gold;
}

.country3 {
    color: black;
}

.name {
    color: hotpink;
}

.nam {
    color:white
}

.ag {
    color: aqua;
}

.countr {
    color:lightgreen;
}

.othe {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: #CA4246;
    
    /* Create the gradient. */
     background-image: linear-gradient(
          45deg,
          #CA4246 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%, 
          #8B9862 50%, 
          #8B9862 66.666%, 
          #476098 66.666%, 
          #476098 83.333%, 
          #A7489B 83.333%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
  }
  
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }
    
  
  
  /* Style the rest of the page. */
  body {
    background-color: #fdf1f0;
  }
  

  
  .cd-intro {
    width: 900px;
    max-width: 900px;
    text-align: center;
  }
  
  .cd-intro {
    margin: 0.5rem;
  }
  @media only screen and (min-width: 768px) {
    .cd-intro {
      margin: 5em auto;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-intro {
      margin: 6em auto;
    }
  }
  
  .cd-headline {
    font-size: 3rem;
    line-height: 1.2;
  }
  @media only screen and (min-width: 768px) {
    .cd-headline {
      font-size: 4.4rem;
      font-weight: 300;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-headline {
      font-size: 6rem;
    }
  }
  
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    font-size: 3.5rem;
}
  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .cd-words-wrapper b.is-visible {
    position: relative;
  }
  .no-js .cd-words-wrapper b {
    opacity: 0;
  }
  .no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
  }
  /* -------------------------------- 
  
  xslide 
  
  -------------------------------- */
  .cd-headline.slide span {
    display: inline-block;
  }
  .cd-headline.slide .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
  }
  .cd-headline.slide b {
    opacity: 0;
    top: .2em;
  }
  .cd-headline.slide b.is-visible {
    top: 0;
    opacity: 1;
    -webkit-animation: slide-in 0.6s;
    -moz-animation: slide-in 0.6s;
    animation: slide-in 0.6s;
  }
  .cd-headline.slide b.is-hidden {
    -webkit-animation: slide-out 0.6s;
    -moz-animation: slide-out 0.6s;
    animation: slide-out 0.6s;
  }
  
  @-webkit-keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }
  @-moz-keyframes slide-in {
    0% {
      opacity: 0;
      -moz-transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -moz-transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
      -o-transform: translateY(20%);
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
    }
  }
  @-moz-keyframes slide-out {
    0% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
    60% {
      opacity: 0;
      -moz-transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -moz-transform: translateY(100%);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(120%);
      -moz-transform: translateY(120%);
      -ms-transform: translateY(120%);
      -o-transform: translateY(120%);
      transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  
  .colourful {
        animation: colorchange 8s infinite; /* animation-name followed by duration in seconds*/
           /* you could also use milliseconds (ms) or something like 2.5s */
        -webkit-animation: colorchange 8s infinite; /* Chrome and Safari */
        -moz-animation: colorchange 8s infinite;  
            -ms-animation: colorchange 8s infinite; 
            -o-animation: colorchange 8s infinite;  
      }
  
      @keyframes colorchange
      {
        0%   {color: #eb008b;}
        25%  {color: #fff100;}
        50%  {color: #01a54f;}
        75%  {color: #00adef;}
        100% {color: #eb008b;}
      }
  
      @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
      {
        0%   {color: #eb008b;}
        25%  {color: #fff100;}
        50%  {color: #01a54f;}
        75%  {color: #00adef;}
        100% {color: #eb008b;}
      }
  
    @-moz-keyframes colorchange 
      {
        0%   {color: #eb008b;}
        25%  {color: #fff100;}
        50%  {color: #01a54f;}
        75%  {color: #00adef;}
        100% {color: #eb008b;}
      }
  
  @-ms-keyframes colorchange 
      {
        0%   {color: #eb008b;}
        25%  {color: #fff100;}
        50%  {color: #01a54f;}
        75%  {color: #00adef;}
        100% {color: #eb008b;}
      }
  
  @-o-keyframes colorchange 
      {
        0%   {color: #eb008b;}
        25%  {color: #fff100;}
        50%  {color: #01a54f;}
        75%  {color: #00adef;}
        100% {color: #eb008b;}
      }

a {
    text-decoration: none;
}